<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Login</title>
</head>
<body>

<nav>
  <div class="nav-wrapper green darken-3">
    <a routerLink="/" class="brand-logo" style="display: flex">
      <div style="padding-top: .5rem; margin-right: .5rem">
        <img src="https://img.icons8.com/dusk/44/000000/rice-bowl.png" />
      </div>
      <div class="logo-font">
        MeanOrder
      </div>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/login" class="d-f">
          <i class="material-icons mr-1">input</i>
          Вход</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/register" class="d-f">
          <i class="material-icons mr-1">person_add</i>
          Регистрация
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>

</body>
</html>
